.main_div_full {
    overflow-x: hidden
}

.font_weight_100 {
    font-weight: 100
}

.font_weight_200 {
    font-weight: 200
}

.font_weight_300 {
    font-weight: 300
}

.font_weight_400 {
    font-weight: 400
}

.font_weight_500 {
    font-weight: 500
}

.font_weight_600 {
    font-weight: 600
}

.font_size_48 {
    font-size: 48px
}

.text_justify {
    text-align: justify
}

.text_left {
    text-align: left
}

.btn_blue {
    background-color: #0078d7;
    color: #fff;
    border-radius: 0
}

.btn_blue:hover {
    background-color: #0078d7b3;
    color: #fff;
    border-radius: 0
}

.margin_top_10 {
    margin-top: 10px
}

.pricing-header {
    margin-bottom: 300px
}

.color_red {
    color: red;
    margin-left: 5px
}

.nav_table_h li a {
    color: #fff;
    background-color: #006cc1 padding:18px;
    font-weight: 700;
    background-color: #006cc1;
    font-size: 19px;
    font-family: Segoe UI, helvetica neue, Helvetica, Arial, sans-serif
}

.nav_table_h li a:hover {
    border: none
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}

.pricing-header h1 {
    margin-bottom: 15px
}

.pricing-header p {
    font-weight: 300
}

.pricing-section {
    margin-top: -400px;
    padding-bottom: 0
}

.pricing-box {
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    -webkit-box-shadow: 0 10px 22px -7px rgba(0, 0, 0, .14);
    -moz-box-shadow: 0 10px 22px -7px rgba(0, 0, 0, .14);
    box-shadow: 0 10px 22px -7px rgba(0, 0, 0, .14)
}

.pricing-box h2 {
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 24px;
    font-weight: 300
}

.pricing-box-content {
    padding: 15px
}

.grey-text {
    color: #b1b1b1;
    font-weight: 300;
    font-size: 14px
}

.price-amount {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px
}

.pricing-box-content ul {
    padding: 25px 0;
    min-height: 215px
}

.pricing-box-content li {
    list-style-type: none;
    margin-bottom: 5px
}

.medium-text {
    font-weight: 600
}

.ghost-cta {
    background-color: transparent;
    color: #48de73;
    padding: 10px 25px;
    border: 2px solid #48de75;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.primary-box-cta .grey-text {
    position: relative;
    top: 15px;
    font-size: 12px
}

.most-popular {
    background-color: #48de73;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    width: 100%;
    top: -20px;
    border-radius: 3px 3px 0 0
}

.most-popular p {
    margin-bottom: 0;
    padding: 2px
}

.primary-box-cta {
    text-align: center;
    padding: 20px 0;
    min-height: 100px
}

.ghost-box {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    width: 85%;
    margin-top: 35px;
    float: right
}

.extra-text {
    width: 85%;
    float: right;
    margin-top: 80px;
    text-align: center
}

.arrow-left {
    position: absolute;
    left: 62px;
    top: 120px
}

.ghost-box h2 {
    font-size: 24px;
    font-weight: 300
}

.ghost-box ul {
    padding: 0;
    margin-bottom: 30px;
    list-style: none
}

.faq-question {
    min-height: 130px
}

.faq-title {
    font-weight: 600;
    font-size: 16px
}

.faq-answer {
    margin-bottom: 45px
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .pricing-section {
        margin-top: -300px;
        padding-bottom: 0
    }
    .ghost-box {
        border: 1px solid #fff;
        border-radius: 3px;
        color: #000;
        text-align: center;
        width: 85%;
        margin-top: 35px;
        float: right;
        background: #f3f3f7;
        margin-right: 21px
    }
}

header h1 {
    color: #fff;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 50px
}

.half-header p {
    position: relative;
    top: -30px;
    font-weight: 400
}

.half-header a {
    color: #fff
}

.hero-section {
    position: absolute;
    top: -60px;
    right: -50px
}

header p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    font-family: Segoe UI, helvetica neue, Helvetica, Arial, sans-serif
}

.info_label {
    padding: 4px 19px;
    background: #ffd800;
    display: inline-block;
    margin-top: 4px;
    color: #000
}

.gst-content {
    margin-top: -30px
}

.gst-content p {
    margin-bottom: 20px
}

.gst-content h2 {
    text-align: center
}

.grey-box {
    background-color: #f5f5f5
}

.gst-box {
    padding: 30px 20px;
    border-radius: 3px;
    margin: 30px 0
}

.gst-box-title {
    font-weight: 600;
    margin-bottom: 20px
}

.gst-issues-solutions {
    margin: 40px 0 0 -21px
}

.issues-section .box {
    background-color: #ebeced
}

.box {
    padding: 30px 20px;
    border-radius: 3px;
    margin: 30px 0;
    min-height: 190px
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .gst-content {
        margin-top: 30px
    }
}

.marg_bottom {
    margin-bottom: 50px
}

.inner-page {
    padding: 20px;
    vertical-align: middle
}

.inner-page h1 {
    margin-bottom: 20px
}

.inner-page p {
    font-weight: 300
}

.medium-text {
    font-weight: 600
}

.our-vision p {
    line-height: 30px;
    margin-bottom: 30px
}

.inline-photo {
    float: left;
    margin-right: 20px;
    max-width: 250px
}

.inline-photo img {
    max-width: 100%
}

.social-profiles ul {
    padding: 0
}

.social-profiles li {
    display: inline-block;
    margin-right: 10px
}

.social-profiles li img {
    width: 30px
}

.magic-numbers img {
    width: 40px;
    margin-bottom: 10px
}

.team-members {
    margin-bottom: 80px
}

.team-name {
    margin-top: 15px;
    margin-bottom: 0
}

.team-position {
    text-transform: uppercase;
    font-weight: 600
}

.press p {
    min-height: 175px;
    line-height: 24px
}

.gst-changes-header img {
    width: 800px;
    position: relative;
    top: -40px;
    right: -55px
}

.online-advantages p {
    position: relative;
    top: 7px
}

.online-advantages .box {
    min-height: 95px
}

.advantages-section .box {
    background-color: #0064c8;
    color: #fff
}

.smb {
    background-color: #f5f5f5;
    padding: 50px
}

.smb-image img {
    width: 100%;
    border-right: 63px solid #f5f5f5;
    border-top: 24px solid #f5f5f5
}

.smb .content-header {
    font-size: 22px
}

.smb ul {
    padding: 0
}

.smb li {
    list-style-type: none;
    font-family: open sans, sans-serif;
    color: #696969;
    margin-bottom: 23px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

.smb li {
    list-style-type: none;
    font-family: open sans, sans-serif;
    color: #696969;
    margin-bottom: 23px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

.smb-listing img {
    width: 15px;
    margin-right: 15px;
    float: right
}

.custom-contact {
    background-image: url(images/contact/download-background.jpg);
    color: #fff;
    background-size: cover
}

.formation {
    border: 2px solid #e8e8e8;
    padding: 30px;
    background: #fff;
    border-radius: 11px
}

.formation h3 {
    background: #3888d8;
    padding: 10px;
    color: #fff;
    border-radius: 11px
}

.text-page p {
    margin-bottom: 35px
}

.gst-changes img {
    margin-top: -35px;
    margin-bottom: 45px;
    width: 100%
}

.siderbar-links ul {
    padding: 0
}

.siderbar-links li {
    list-style-type: none;
    border: 1px solid #ececec;
    border-radius: 3px;
    vertical-align: middle;
    padding: 15px;
    margin-top: 15px;
    padding-bottom: 15px
}

.siderbar-links a {
    color: #333;
    font-weight: 600;
    display: block;
    font-size: 16px
}

.siderbar-links img {
    margin-bottom: 10px
}

.social-profiles li {
    display: inline-block;
    margin-right: 10px
}

.social-profiles li img {
    width: 30px
}

.our-vision p {
    line-height: 30px;
    margin-bottom: 30px
}

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
#team {
    background: #eee !important
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e
}

#team {
    padding: 60px 0
}

section .section-title1 {
    text-align: center;
    color: #337ab7;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder
}

#team .card {
    border: none;
    background: #fff
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
    -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
    box-shadow: 5px 7px 9px -4px #9e9e9e
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d
}

.frontside .card,
.backside .card {
    min-height: 312px
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%
}

.card_padd {
    padding: 30px
}

body.auth>.ember-view {
    height: 100%
}

body.auth #page.auth-layout {
    background-color: #072d45;
    display: flex;
    flex-direction: column;
    height: 100%
}

body.auth header,
body.auth footer {
    flex: none
}

body.auth #content {
    background-color: #072d45;
    flex: 1 0 auto;
    width: 100%;
    position: relative
}

body.auth h3.page-title {
    font-size: 15px;
    line-height: 1.6em;
    width: 90%;
    max-width: 30em;
    margin: 2em auto;
    color: #fff;
    text-align: center
}

body.auth .steps {
    max-width: 41.25em
}

body.auth .steps ul {
    font-size: 0;
    text-align: center
}

body.auth .steps li.active {
    background-color: #fff;
    font-weight: 700
}

body.auth .steps li:before {
    width: 75%
}

body.auth .steps li:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b5c0c7;
    top: 50%;
    left: 100%
}

body.auth .steps li span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 .7142857143em;
    overflow: hidden
}

body.auth .steps li {
    width: 13.5714285714em
}

body.auth .steps li {
    font-size: 14px;
    color: #727a7f;
    width: 7.5em;
    height: 2.8571428571em;
    line-height: 2.8571428571em;
    border-radius: 4px;
    background-color: #b5c0c7;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: relative
}

body.auth .steps li:first-child {
    float: left
}

@media(min-width:48em) {
    body.auth .steps li {
        width: 13.5714285714em
    }
}

body.auth .auth-form {
    width: 90%;
    max-width: 25em;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    padding: 1.875em
}

body.auth #btn-google-signin {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 0 auto 1.4285714286em;
    width: 17.8571428571em;
    height: 3.2142857143em;
    line-height: 3.2142857143em;
    padding: 0 0 0 2.8571428571em;
    border-radius: 4px;
    background: #df4a32 url(data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 ….4 11.8v2.2h-2.2v2.2H20v-2.2h-2.2v-2.2H20V9.6h2.2v2.2H24.4z'/%3E%3C/svg%3E) no-repeat 1.4285714286em center;
    cursor: pointer;
    color: #fff;
    text-align: center
}

body.auth .auth-form h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6em;
    color: #454545;
    margin-bottom: 1.3333333333em;
    text-align: center
}

body.auth .auth-form fieldset {
    margin-bottom: .625em
}

body.auth .field input:not([type=radio]):not([type=checkbox]):not([type=search]) {
    font-size: 14px;
    line-height: 1.2857142857em;
    height: 3.1428571429em;
    color: #727a7f;
    width: 100%;
    border-radius: 22px;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: .7142857143em 2.1428571429em 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, .03)
}

.field .error-message {
    display: block;
    color: #e74c3c;
    font-size: 13px;
    line-height: 1.5384615385em;
    height: 1.5384615385em;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    white-space: nowrap
}

.field {
    padding-bottom: 1.25em;
    margin-bottom: 0;
    position: relative
}

body.auth .field label {
    display: block;
    color: #727a7f;
    font-size: 14px;
    line-height: 1.4285714286em;
    background-color: #fff;
    position: absolute;
    left: 2.1428571429em;
    top: .7857142857em;
    transform: translateY(0);
    cursor: text;
    padding: 0 .2142857143em;
    transition: transform .15s ease-out;
    margin: 0
}

body.auth .auth-form.signup-form .buttons {
    margin-bottom: 1.25em
}

body.auth .auth-form .buttons .btn {
    font-size: 15px;
    line-height: 3em;
    height: 3em;
    padding: 0 1em;
    min-width: 100%;
    font-weight: 700
}

body.auth .agreement {
    font-size: 13px;
    line-height: 1.5384615385em;
    color: #727a7f;
    text-align: center;
    padding: 0 .7692307692em
}

body.auth .agreement a {
    font-weight: 700;
    color: #2ea3ee
}

body.auth .cta {
    font-size: 15px;
    line-height: 2.6666666667em;
    font-weight: 700;
    color: #fff;
    text-align: center
}

body.auth .cta a {
    color: #2ea3ee;
    font-weight: 800;
    text-transform: uppercase
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: .3s
}

.sidebar a:hover {
    color: #f1f1f1
}

.sidebar .closebtn {
    position: absolute;
    top: -10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    border: none
}

.openbtn:hover {
    background-color: #444
}

#main {
    transition: margin-left .5s;
    padding: 16px
}

.sidebar {
    width: 25%
}

@media screen and (max-height:450px) {
    .sidebar {
        padding-top: 15px
    }
    .sidebar a {
        font-size: 10px
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .sidebar {
        width: 100%
    }
}

.header_sale_promo_no a {
    color: #fff;
    display: inline-block;
    background-color: #000;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 19px
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .header_sale_promo_no a {
        color: #fff;
        display: inline-block;
        background-color: #000;
        padding: 15px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:339px) and (-webkit-min-device-pixel-ratio:2) {
    .pricing_nav li a {
        font-size: 10px;
        font-weight: 400;
        padding: 2px
    }
}

@media only screen and (min-device-width:340px) and (max-device-width:370px) and (-webkit-min-device-pixel-ratio:2) {
    .pricing_nav li a {
        font-size: 10px;
        font-weight: 400;
        padding: 6px
    }
}

@media only screen and (min-device-width:361px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .pricing_nav li a {
        font-size: 10px;
        font-weight: 400;
        padding: 10px
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    .pricing_nav {}
    .pricing_nav li {
        float: left;
        padding: 0
    }
    .pricing_nav li a:hover {
        font-weight: 200
    }
    .pricing_nav li a:focus {
        font-size: 10px;
        font-weight: 400;
        color: #000;
        background-color: transparent
    }
    .font_19 {
        margin-top: 16px
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:1) {
    .pricing_nav {
        margin-left: 15%
    }
    .pricing_nav li {
        float: left;
        padding: 0 20px
    }
    .pricing_nav li a {
        font-weight: 700
    }
    .pricing_nav li a:focus {
        color: #000
    }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1199px) and (-webkit-min-device-pixel-ratio:1) {
    .pricing_nav {
        margin-left: 30%
    }
    .pricing_nav li {
        float: left;
        padding: 0 20px
    }
    .pricing_nav li a:focus {
        color: #000
    }
}

@media only screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio:1) {
    .pricing_nav {
        margin-left: 21%
    }
    .pricing_nav li {
        float: left;
        padding: 0 20px
    }
    .pricing_nav li a {}
    .pricing_nav li a:focus {
        color: #000
    }
    .margin_header_top_40 {
        margin-top: -40px
    }
}

.table_spacing_01 tr {
    margin-top: 5px
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:1) {
    .advantages-section img {
        margin-top: 50%
    }
    .issues-section img {
        margin-top: 50%
    }
}

@media only screen and (min-device-width:769px) and (max-device-width:1199px) and (-webkit-min-device-pixel-ratio:1) {
    .advantages-section img {
        margin-top: 50%
    }
    .issues-section img {
        margin-top: 50%
    }
}

@media screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio:1) {
    .advantages-section img {
        margin-top: 50%
    }
    .issues-section img {
        margin-top: 50%
    }
}

.media_about {
    border: 1px solid lightgrey;
    padding: 20px;
    box-shadow: 0 0 2px lightgrey;
    margin-bottom: 10px
}

.gst-box-text1 p {
    font-size: 18px
}

.gst-box-text1 a {
    color: #286090
}

.Gst_bill_supply_rightside h4 {
    font-weight: 500;
    color: #0078d7de
}

.Gst_bill_supply_rightside ul {
    list-style: none
}

.Gst_bill_supply_rightside li {
    margin-top: 15px
}

.Gst_bill_supply_rightside li a {
    margin-top: 55px;
    color: #0078d7de;
    margin-left: 10px
}

.Gst_bill_supply_rightside li a i {}

.Gst_bill_supply_rightside li a:hover {
    margin-top: 15px;
    color: #000
}